<?xml version="1.0"?>
<appsettings>
	<appdata name="mail" value='{"host":"smtp.mailgun.org", "username":"<MAIL GUN USERNAME>","password":"<MAIL GUN PASSWORD>"}'></appdata>
	 <appdata name="toemail" value='91thiru@gmail.com'></appdata>
	 <appdata name="BCC" value='<EMAIL>'></appdata>
	 
</appsettings>