<?xml version="1.0"?>
<appsettings>
	<appdata name="mail" value='{"host":"smtp.mailgun.org", "username":"postmaster@test.mailgun.org","password":"test"}'></appdata>
	 <appdata name="toemail" value='91thiru@gmail.com'></appdata>
	 <appdata name="BCC" value='kumar.okm1995@gmail.com'></appdata>
	 
</appsettings>